#wrapper {
  margin: auto;
  width: 1440px;
}
input {
  width: 50px;
}
svg {
  border: 1px solid gray;
  border-radius: 10px;
  height: 600px;
  width: 600px;
  margin: 5px;
}
#linechart {
  width: 800px;
}

html {
  font-family: "Trebuchet MS", sans-serif;
}

.countrymap {
  stroke: black;
}

.countrymap-mouseover {
  stroke: cyan;
}

h2,
h3 {
  text-align: center;
}

div.tooltip {
  position: absolute;
  text-align: center;
  padding: 0.5rem;
  background: #ffffff;
  color: #313639;
  border: 1px solid #313639;
  border-radius: 8px;
  pointer-events: none;
  font-size: 1.3rem;
}

.lineAxis line {
  stroke: gray;
}

.lineAxis path {
  stroke: black;
}

.lineAxis text {
  fill: gray;
}
